@using BulkyBook.Models.ViewModels
@model RequestVM

<form method="post" asp-action="Upsert" enctype="multipart/form-data">
    <input asp-for="Request.Id" hidden/>
        <div class="row">
            <div class="col-10">
                    <div class="border p-4 mt-4 row">
       <div class="col-12 pb-2">
           <h2 class="text-primary">@(Model.Request.Id!=0?"Update":"Create") Request</h2>
           <hr />
       </div>
      @* <div asp-validation-summary="All"></div>*@

       <div class="mb-3">
           <label asp-for="Request.Description"></label>
           <input asp-for="Request.Description" class="form-control"/>
           <span asp-validation-for="Request.Description" class="text-danger"></span>
       </div>
            <div class="mb-3">
           <input asp-for="Request.Status" class="form-control" value="Pendiente" hidden/>
           <span asp-validation-for="Request.Status" class="text-danger"></span>
       </div>
         <div class="mb-3 col-6">
           <label asp-for="Request.RequirementId"></label>
           <select asp-for="Request.RequirementId" asp-items="@Model.RequirementList" class="form-select">
               <option disabled selected>--Seleccione tipo de requerimiento-</option>
           </select>
           <span asp-validation-for="Request.RequirementId" class="text-danger"></span>
       </div>


       <div class="col-12">

        @if (Model.Request.Id != 0)
        {
            <button type="submit" class="btn btn-primary" style="width:150px">Update</button>
        }
        else
        {
            <button type="submit" onclick="return ValidateInput()" class="btn btn-primary" style="width:150px">Create</button>
        }

       <a asp-controller="Request" asp-action="Index" class="btn btn-secondary" style="width:150px" >
           Back to List
       </a>
    </div>
    </div>
    </div>
    </form>

@section Scripts {
    @{
        <partial name="_ValidationScriptsPartial"></partial>
    }
}

