@model string 
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-primary">Listado de Solicitudes Asignadas</h2>
        </div>
            <div id="role">@Model</div>
        <div class="col-6 text-end">
            <a asp-controller="Assignation" asp-action="Upsert" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;  Asignar Solicitudes
            </a>
        </div>
    </div>


    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Requerimiento</th>
                <th>Status</th>
                <th>Técnico</th>
                 <th></th>
            </tr>
        </thead>
    </table>
</div>
@section Scripts{
    

    
    <script src="~/js/assignation.js"></script>
        
    
}